---
import DarkModeButton from "@components/DarkModeButton";
import { Icon } from "astro-icon";
import { SEO } from "astro-seo";

export interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props;
const DEFAULT_TITLE =
  "Tone Sandbox - A collection of musical tools and experiments.";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="manifest" href="/manifest.json" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      title={title}
      titleTemplate={"%s | Tone Sandbox"}
      titleDefault={DEFAULT_TITLE}
      description={description}
      openGraph={{
        basic: {
          title: title ? `${title} on Tone Sandbox` : DEFAULT_TITLE,
          type: "website",
          image: "/assets/og/og-image-256.png",
        },
        optional: {
          siteName: "Tone Sandbox",
        },
        image: {
          height: 620,
          width: 1200,
          alt: "The Tone Sandbox title accompanied by the site logo, which is a shovel partially sticking out of a square.",
        },
      }}
      twitter={{
        creator: "@henryfellerhoff",
      }}
    />
    {
      import.meta.env.PROD && (
        <script
          async
          defer
          data-website-id="e0135a7d-bd11-40a4-b153-336bccac133b"
          src="https://umami.henryfellerhoff.com/umami.js"
        />
      )
    }
    <script is:inline>
      const theme = (() => {
        if (
          typeof localStorage !== "undefined" &&
          localStorage.getItem("theme")
        ) {
          return localStorage.getItem("theme");
        }
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
          return "dark";
        }
        return "light";
      })();

      if (theme === "light") {
        document.documentElement.classList.remove("dark");
      } else {
        document.documentElement.classList.add("dark");
      }
    </script>
  </head>
  <body class="bg-gray-200 dark:bg-gray-900 h-screen overflow-hidden">
    <header class="absolute top-4 left-4 z-10 flex gap-2">
      <a
        class="bg-white dark:bg-gray-800 dark:text-white rounded shadow px-4 py-2 flex items-center justify-center gap-2 border-transparent hover:border-purple-600 border-2 transition-all"
        href="/"
      >
        <Icon pack="lucide" name="shovel" /><h1>Tone Sandbox</h1>
      </a>
      <DarkModeButton client:load />
    </header>
    <slot />
    <style lang="css">
      [astro-icon] {
        height: 1rem;
        width: 1rem;
      }
    </style>
  </body>
</html>
